.mainLayout {
    padding: 20px 0px 0px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: flex-start;
    padding: 20px 0px 0px 20px;
}